* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music-container {
  margin: 100px 0;
  
}

.music-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  background-color: lightgray;
  border-radius: 15px 15px 0 0;
  
  
  /* transform: translateY(200px); */
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-container.play .music-info {
  /* transform: translateY(0%); */
  opacity: 1;
}

.img-container {
  margin-left: 50px;
}

.img-container img {
  width: 150px;
  height: 150px;
}

.title-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  width: 250px;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 4px;
  width: 90%;
  margin: 20px 0;
}

.progress {
  background-color: orange;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  color: black;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}