* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #c8ace8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
  font-family: 'Kirang Haerang', cursive;
}

h4 {
  font-size: 20px;
}

.music-container {
  margin-top: 30px;
  height: 550px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px #000 solid;
}

.music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin: 20px;
  background-color: lightgray;
  border: 1px darkgray dotted;
  border-radius: 15px 15px 0 0;
  
  
  /* transform: translateY(200px); */
  
}

.music-container.play img {
  /* transform: translateY(0%); */
  opacity: 1;
}

.music-container.play .title-progress-container {
  opacity: 1;
}


.img-container img {
  width: 200px;
  height: 200px;

  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.title-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 200px;

  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 10px;
  width: 90%;
  margin: 20px 0;
}

.progress {
  background-color: #8029e3;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #fff;
  margin-top: 50px;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  color: black;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}